
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortener</title>
</head>
<body>
      <div>
        <form method="POST" action="/">     
            <label>Paste the link:</label><input name="link" type="text" value="" />
            <input type="submit" value="Make it easy:" />
            <label>{{.Link}}</label>
        </form>
      </div>
      
</body>
</html>